\BLOCK{ macro format_element(row_dict)}

\begin{document}

\begin{tikzpicture}
\begin{axis}

\addplot +[xbar] coordinates {

}

\end{axis}
\end{tikzpicture}

\BLOCK{ endmacro }

\documentclass[border=0.2cm]{standalone}

\usepackage{pgfplots}

\begin{document}

%% for i in range(rows | length)
    \VAR{format_element(rows[i])}
%% endfor

\end{document}